fastapi
uvicorn
python-multipart
ultralytics
opencv-python-headless
pillow
numpy
torch==2.2.2+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
torchvision==0.17.2+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
